<!DOCTYPE html>
<html lang="{{DEFAULT_LANG}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{SITENAME}}</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="/theme/css/all.min.css">
    <link rel="stylesheet" href="/theme/css/devicon.min.css">
    <link rel="stylesheet" href="/theme/css/style.css">
</head>
<body>
    <div class="container">
      <img src="/theme/images/perceu2.jpg" class="avatar" alt="Foto Perceu">
      <h1 class="title">{{SITENAME}}</h1>
      {% for article in articles %}
        <p class="description">
          {{article.title}}
        </p>
        {{article.content}}
      {% endfor %}
    </div>

</body>
</html>