<!DOCTYPE html>
<html lang="{{DEFAULT_LANG}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{SITENAME}}</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="/theme/css/all.min.css">
    <link rel="stylesheet" href="/theme/css/devicon.min.css">
    <link rel="stylesheet" href="/theme/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mt-4">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="/theme/images/perceu1.jpg" class="card-img-top" alt="Foto Perceu">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h1 class="card-title">{{SITENAME}}</h1>
                            <p class="card-text">Desenvolvedor web.</p>
                            <p class="card-text">Em Construção.</p>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</body>
</html>