{% extends "base.html" %}

{% block content %}
<h2>Atividades Recentes</h2>
<h6 class="card-subtitle mb-2 text-muted">Acompanhe todo o material que eu criar por essa pagina!</h6>
<hr>
<div class="row">
    <div class="cols-12 col-md-6">
        {% for article in articles %}
            {% if article.category == "home" %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{article.date | strftime('%d/%m/%Y')}}</h6>
                    {{article.content}}
                </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}