html {
    height: 100%;
}
body {
    height: 100%;
    background: #000;
}

.container{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lateral{
    min-height: 100vh;
    width: 30%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    width: 70%;
    padding-left: 10px;
    padding-top: 50px;
    min-height: 100vh;
    background-color: #eee;
}

@media only screen and (max-width: 750px) {
    .container {
        flex-direction: column;
    }
    .lateral {
        width: 100%;
    }
    .content {
        width: 100%;
    }
}




.title{
    color: #eee;
}
ul{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

li a{
    color: #ccc;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    transition: 0.5s all;
}

li{
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    list-style-type: none;
    transition: 0.3s all;
}
li:hover{
    transition: 0.3s all;
    background-color: #aaa;
    color: #eee;

}
li:hover a{
    color: #000;
    text-decoration: none;
    font-size: 30px;
    transition: 0.5s all;
}

li:hover a.devicon-linkedin-plain{
    color: #0a66c2;
}

li:hover a.devicon-facebook-plain{
    color: #0166e1;
}

.description{
    color: #aaa;
}

.avatar{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
